<div class="employees-form">
  <ul class="title">
    <li></li>
    <li>Имя</li>
    <li>Фамилия</li>
    <li></li>
  </ul>
  <ng-container *ngIf="noDate">
    <div class="no-date">
      <p>Нет данных</p>
    </div>
  </ng-container>
  <ul class="employee" *ngFor="let person of persons; let i = index">
    <li class="icon"></li>
    <li class="text">{{person.firstName}}</li>
    <li class="text">{{person.lastName}}</li>
    <li class="actions">
      <p class="actions__edit" (click)="changePerson(i)"></p>
      <p class="actions__delete" (click)="personIdForDelete = person.id; deletePersonFlag = true"></p>
    </li>
  </ul>
  <input class="btn" type="button" value="Добавить сотрудника" (click)="addPerson()">
  <ng-container *ngIf="openFormFlag">
    <app-auxiliary-form
      [configForInput]="configForInput['addOrEdit']"
      [currentPerson]="currentPerson"
      (newData)="updateData($event)"
      [title]="formTitle">
    </app-auxiliary-form>
  </ng-container>
  <ng-container *ngIf="deletePersonFlag">
    <app-modal-dialog
      (isConfirmed)="deletePerson($event)"
      header="Удаление сотрудника"
      description="Вы действительно хотите удаление сотрудника?">
    </app-modal-dialog>
  </ng-container>
</div>
