/* You can add global styles to this file, and also import other style files */
@import "assets/css/screen.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1400px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  padding: 10px 0 0 0;
  overflow-x:hidden;
}

@media (max-width: 1600px) {
  body {
    max-width: 1100px;
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  body {
    max-width: 900px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  body {
    max-width: 700px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
    font-size: 10px;
    margin: 0 15px;
  }
}
